<div id="main-footer">
<footer>@ Mohit2001. All Rights Reserved</footer>
<ul id="horizontal-list" type="none">
    <li><a href="/">Home</a></li>
    <li><a href="/users/profile">Profile</a></li>
</ul>
</div>