<h1>Sign In</h1>
<form action="/users/create-session" method="post">
    <input type="text" name="username" placeholder="Enter UserName" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    <button type="submit">Sign In</button>
</form>